<div class="condition-container">
  <div class="print-item">
    <fieldset>
      <legend translate>calculation-print.dc</legend>
      <div *ngIf="isManual() == false">
        <label>
          <input
            type="checkbox"
            name="print_section_force"
            id="print_section_force"
            [value]="print_section_force"
            [(ngModel)]="print_section_force_checked"
            [checked]="print_section_force_checked"
          />
          <p translate>calculation-print.s_table</p>
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="print_calculate"
            id="print_calculate"
            [value]="print_calculate_checked"
            [(ngModel)]="print_calculate_checked"
            [checked]="print_calculate_checked"
          />
          <p translate>calculation-print.p_check</p>
        </label>
      </div>

    </fieldset>
  </div>
  <div class="calculate-item">
    <fieldset>
      <legend translate>calculation-print.check</legend>
      <div>
        <label>
          <input
            type="checkbox"
            name="calculate_moment"
            id="calculate_moment"
            [value]="calculate_moment_checked"
            [(ngModel)]="calculate_moment_checked"
            [checked]="calculate_moment_checked"
          />
          <p translate>calculation-print.bend</p>
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="calculate_shear_force"
            id="calculate_shear_force"
            [value]="calculate_shear_force_checked"
            [(ngModel)]="calculate_shear_force_checked"
            [checked]="calculate_shear_force_checked"
          />
          <p translate>calculation-print.shear</p>
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="calculate_torsional_moment"
            id="calculate_torsional_moment"
            [value]="calculate_torsional_moment_checked"
            [(ngModel)]="calculate_torsional_moment_checked"
            [checked]="calculate_torsional_moment_checked"
          />
          <p translate>calculation-print.twist</p>
        </label>
      </div>
    </fieldset>
  </div>
</div>

<div class="table-container">
  <fieldset>
    <legend translate>calculation-print.member</legend>
    <div class="hot" >
      <table>
        <tbody>
          <ng-container *ngFor="let item of table_datas; index as j">
            <tr>
              <td width="70px">
                <input type="checkbox" 
                [value]="item.calc_checked" 
                [(ngModel)]="item.calc_checked"
                [checked]="item.calc_checked" 
              />
              </td>
              <td width="250px">
                {{item.g_name}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>

<div class="button-container">
  <button (click)="onClick()">
    <p translate>calculation-print.print</p>
  </button>
</div>

