<div class="c-subNavArea">
  <nav>
    <ul class="c-subNavArea__nav">
      <li class="c-subNavArea__navItem" *ngFor="let groupe of table_datas; index as i">
        <a (click)="activePageChenge(i)" id="crk{{i}}" class="c-subNavArea__navItemTitle">
          <span>{{getGroupeName(i)}}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div>
  <app-sheet #grid [options]="options"></app-sheet>
</div>

<div class="footer">
  <div class="left-table">
    <p translate>crack-settings.env</p>
    <table>
      <tbody>
        <tr>
          <th width="30">1</th>
          <td translate>crack-settings.normal</td>
        </tr>
        <tr>
          <th>2</th>
          <td translate>crack-settings.cor</td>
        </tr>
        <tr>
          <th>3</th>
          <td translate>crack-settings.es_cor</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>