<div class="c-subNavArea">
  <nav>
    <ul class="c-subNavArea__nav">
      <li class="c-subNavArea__navItem" *ngFor="let groupe of groupe_name; index as i" >
        <a (click)="activePageChenge(i)" id="saf{{i}}" class="c-subNavArea__navItemTitle">
          <span>{{groupe}}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="tabContent">
  <div class="sectionTitle">
    <h4 translate>safety-factors-material-strengths.rsb_con</h4>
  </div>

  <div class="safety-factors">
    <h5 translate>safety-factors-material-strengths.safe</h5>
    <div class="table-container">
      <app-sheet #grid1 [options]="options1"></app-sheet>
    </div>

    <div class="range-fieldset">
      <fieldset>
        <legend translate>safety-factors-material-strengths.rsb_arr</legend>
        <ol>
          <li translate>safety-factors-material-strengths.rsb_ten</li>
          <li translate>safety-factors-material-strengths.ten_com</li>
          <li translate>safety-factors-material-strengths.all</li>
        </ol>
      </fieldset>
    </div>
  </div>

  <div class="material-strength">
    <h5 translate>safety-factors-material-strengths.r_mta</h5>
    <div class="table-container">
      <app-sheet #grid2 [options]="options2"></app-sheet>
      <div class="concrete-strength">
        <h5 translate>safety-factors-material-strengths.c_mta</h5>
        <app-sheet #grid3 [options]="options3"></app-sheet>
      </div>
    </div>
  </div>

  <div class="sectionTitle">
    <h4 translate>safety-factors-material-strengths.steel</h4>
  </div>
  <div class="safety-factors">
    <h5 translate>safety-factors-material-strengths.safe</h5>
    <div class="table-container">
      <app-sheet #grid4 [options]="options4"></app-sheet>
    </div>
  </div>

  <div class="material-strength">
    <h5 translate>safety-factors-material-strengths.s_mta</h5>
    <div class="table-container">
      <app-sheet #grid5 [options]="options5"></app-sheet>
    </div>
  </div>


  <div class="sectionTitle">
    <h4 translate>safety-factors-material-strengths.pile</h4>
  </div>
  <div class="pile-factors">
    <h5 translate>safety-factors-material-strengths.pile</h5>
    <table>
      <thead>
        <tr>
          <th rowspan="2" colspan="2">
            <p translate>safety-factors-material-strengths.method</p>
          </th>
          <th colspan="3">          
            <p translate>safety-factors-material-strengths.ρc</p>
          </th>
          <th rowspan="2" width="110px">
          <p translate>safety-factors-material-strengths.vcd</p>
          </th>
        </tr>
        <tr>
          <th width="80px">          
            <p translate>safety-factors-material-strengths.cs</p>
          </th>
          <th width="80px">          
            <p translate>safety-factors-material-strengths.as</p>
          </th>
          <th width="80px">          
            <p translate>safety-factors-material-strengths.young</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of options6; index as i">
          <tr>
            <td width="20px">
              <input type="radio" 
                name="pile_factor" 
                id="pile_factor{{i}}"
                [(ngModel)]="pile_factor_select_id" 
                [value]="item.id"
                [checked]="item.selected" 
                (change)="setPileFactor(i)" />
            </td>
            <td style="text-align: left" width="200px">{{item.title}}</td>
            <td>{{item.rfck.toFixed(2)}}</td>
            <td>{{item.rfbok.toFixed(2)}}</td>
            <td>{{item.rEc.toFixed(2)}}</td>
            <td>{{item.rVcd.toFixed(2)}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>
