<ng-container *ngIf="!isManual()">
  <div class="left-contents">
    <section class="pickup-table">
      <h5 translate>basic-information.pick_bs</h5>
      <app-sheet #grid1 [options]="options1"></app-sheet>
    </section>

    <section class="pickup-table">
      <h5 translate>basic-information.pick_sv</h5>
      <app-sheet #grid2 [options]="options2"></app-sheet>
    </section>
    <!-- ねじり -->
    <section class="pickup-table">
      <h5 translate>basic-information.pick_tv</h5>
      <app-sheet #grid3 [options]="options3"></app-sheet>
    </section>

  </div>
</ng-container>

<div class="right-contents">

  <div class="right-left-contents">

    <div class="specification1-fieldset">
      <fieldset>
        <legend translate>basic-information.apply</legend>
        <ng-container *ngFor="let item of specification1_list; index as i">
          <div>
            <label>
              <input type="radio"
                name="specification1"
                id="specification1{{i}}"
                [(ngModel)]="specification1_select_id"
                [value]="item.id"
                [checked]="item.selected"
                (change)="setSpecification1(i)" />
                {{item.title}}
            </label>
          </div>
        </ng-container>
      </fieldset>
    </div>

  </div>

  <div class="right-right-contents">

    <div class="specification2-fieldset" *ngIf="specification2_list.length > 0">
      <fieldset>
        <legend translate>basic-information.spec</legend>
        <ng-container *ngFor="let item of specification2_list; index as i">
          <div>
            <label>
              <input type="radio"
                name="specification2"
                id="specification2{{i}}"
                [(ngModel)]="specification2_select_id"
                [value]="item.id"
                [checked]="item.selected"
                (change)="setSpecification2(i)"/>
                {{item.title}}
            </label>
          </div>
        </ng-container>
      </fieldset>
    </div>

  </div>

  <div class="conditions-checkbox">
    <h5 translate>basic-information.dc</h5>
    <ng-container *ngFor="let item of conditions_list; index as i">
      <div>
        <input type="checkbox"
          name="conditions{{i}}"
          id="conditions{{i}}"
          [(ngModel)]="item.selected"
          [value]="item.id"
          [checked]="item.selected"/>
          {{item.title}}
      </div>
    </ng-container>
  </div>

</div>