<div class="header">
  <div class="container">
    <div class="liner">
      <app-menu></app-menu>
    </div>
  </div>
</div>

<div class="c-container">
  <div class="c-mainNavArea">
    <nav>
      <ul class="c-mainNavArea__nav">
        <!-- ホーム -->
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./basic-information"
            routerLinkActive="selected-item"
            (click)="activePageChenge(0)"
            id="0"
            class="c-mainNavArea__navItemTitle"
          >
            <span translate>app.basic_info</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./members"
            routerLinkActive="selected-item"
            (click)="activePageChenge(1)"
            id="1"
            class="c-mainNavArea__navItemTitle is-active"
          >
            <span translate>app.members</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem" [hidden]="isManual()">
          <a
            routerLink="./design-points"
            routerLinkActive="selected-item"
            (click)="activePageChenge(2)"
            id="2"
            class="c-mainNavArea__navItemTitle disabled"
          >
            <span translate>app.point</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem" [hidden]="!isManual()">
          <a
            routerLink="./section-forces"
            routerLinkActive="selected-item"
            (click)="activePageChenge(8)"
            id="8"
            class="c-mainNavArea__navItemTitle"
          >
            <span translate>app.section_force</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./bars"
            routerLinkActive="selected-item"
            (click)="activePageChenge(3)"
            id="3"
            class="c-mainNavArea__navItemTitle disabled"
          >
            <span translate>app.bars</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./steels"
            routerLinkActive="selected-item"
            (click)="activePageChenge(4)"
            id="4"
            class="c-mainNavArea__navItemTitle disabled"
          >
            <span translate>app.steels</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./shear"
            routerLinkActive="selected-item"
            (click)="activePageChenge(10)"
            id="10"
            class="c-mainNavArea__navItemTitle disabled"
          >
            <span translate>app.shear</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./crack"
            routerLinkActive="selected-item"
            (click)="activePageChenge(5)"
            id="5"
            class="c-mainNavArea__navItemTitle disabled"
          >
            <span translate>app.crack</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./fatigues"
            routerLinkActive="selected-item"
            (click)="activePageChenge(6)"
            id="6"
            class="c-mainNavArea__navItemTitle disabled"
          >
            <span translate>app.fatigues</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./safety-factors-material-strengths"
            routerLinkActive="selected-item"
            (click)="activePageChenge(7)"
            id="7"
            class="c-mainNavArea__navItemTitle disabled"
          >
            <span translate>app.sf_ms</span>
          </a>
        </li>
        <li class="c-mainNavArea__navItem">
          <a
            routerLink="./calculation-print"
            routerLinkActive="selected-item"
            (click)="activePageChenge(9)"
            id="9"
            class="c-mainNavArea__navItemTitle"
          >
            <span translate>app.calc_print</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="c-contentsArea">
    <router-outlet
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    ></router-outlet>
  </div>
</div>

<!-- チャットボタン -->
<div class="over-three right-buttom">
  <app-chat></app-chat>
</div>