/*
div.pq-toolbar button {
    margin: 0px 5px;
}
button.delete_btn {
    margin: -3px 0px;
}
.pq-row-delete {
    text-decoration: line-through;
}
.pq-row-delete > .pq-grid-cell {
    background-color: pink;
}

.datasheet {
    padding: 16px;
    z-index: 1;
}
*/