 <div class="c-subNavArea">
  <nav>
    <ul class="c-subNavArea__nav">
      <li class="c-subNavArea__navItem">
        <a (click)="activePageChenge(0)" id="foc0" class="c-subNavArea__navItemTitle">
          <span translate>section-forces.b_check</span>

        </a>
      </li>
      <li class="c-subNavArea__navItem">
        <a (click)="activePageChenge(1)" id="foc1" class="c-subNavArea__navItemTitle">
          <span translate>section-forces.s_check</span>
        </a>
      </li>
      <!-- ねじり -->
      <li class="c-subNavArea__navItem">
        <a (click)="activePageChenge(2)" id="foc3" class="c-subNavArea__navItemTitle">
          <span translate>section-forces.t_check</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div>
  <app-sheet #grid [options]="options"></app-sheet>
</div>