 <div class="c-subNavArea">
  <nav>
    <ul class="c-subNavArea__nav">
      <li class="c-subNavArea__navItem">
        <a (click)="activePageChenge(0)" id="foc0" class="c-subNavArea__navItemTitle">
          <span>曲げ照査</span>
        </a>
      </li>
      <li class="c-subNavArea__navItem">
        <a (click)="activePageChenge(1)" id="foc1" class="c-subNavArea__navItemTitle">
          <span>せん断照査</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div>
  <app-sheet #grid [options]="options"></app-sheet>
</div>