.ht-container {
  width: 810px;
  float: left;
}

.footer {
  margin-top: 10px;

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }

  table, th, td {
    border: 1px solid #cfcfcf;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    padding: 0;
  }

  .left-table{
    float: left;
    margin-left: 15px;
  }
  .right-table{
    float: left;
    margin-left: 15px;
  }
}


