<div #ht_container class="ht-container">
  <app-sheet  #grid [options]="options"></app-sheet>
</div>

<div class="footer">
  <div class="left-table">
  <p translate>members.section_sh</p>
  <table >
    <thead>
      <tr>
        <th width="50px">
          <p translate>members.No</p>
        </th>
        <th width="70px">
          <p translate>members.structure</p>
        </th>
        <th width="90px">
          <p translate>members.shape</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td rowspan="2">RC, SRC</td>
        <td translate>members.rectangle</td>
      </tr>
      <tr>
        <td>2</td>
        <td translate>members.t_shape</td>
      </tr>
      <tr>
        <td>3</td>
        <td>RC, CFT</td>
        <td translate>members.r_shape</td>
      </tr>
      <tr>
        <td>4</td>
        <td>RC</td>
        <td translate>members.oval</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- 
<div class="right-table">
  <p><br/></p>
  <table >
    <thead>
      <tr>
        <th width="50px">番号</th>
        <th width="70px">構造</th>
        <th width="90px">形状</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11</td>
        <td rowspan="4">S</td>
        <td>矩形</td>
      </tr>
      <tr>
        <td>12</td>
        <td>T形</td>
      </tr>
      <tr>
        <td>13</td>
        <td>円形</td>
      </tr>
      <tr>
        <td>14</td>
        <td>小判</td>
      </tr>
    </tbody>
  </table>
</div>
 -->
</div>