<div class="container">
  <div class="scroller">
    <div class="inner">
      <span translate>blank-page.cs_pc</span>
      <span translate>blank-page.program</span>
      <span translate>blank-page.with2004</span>
      <span>
        <a translate>blank-page.cs</a>
        <a class="blue" translate>
          blank-page.bal_calc
        </a>
        <a translate>blank-page.and</a>
        <a class="blueb" translate>
          blank-page.stress_calc
        </a>
        <a translate>blank-page.in_program</a>
      </span>
    </div>
  </div>
</div>